"" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
map <leader>f <Action>(ReformatCode)
map <leader>d <Action>(Debug)

map <leader>r <Action>(Run)

"" Map \b to toggle the breakpoint on the current line
map <leader>b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc
set ideajoin
set surround

nnoremap <leader>h <C-w>h<CR>
nnoremap <leader>j <C-w>j<CR>
nnoremap <leader>k <C-w>k<CR>
nnoremap <leader>l <C-w>l<CR>

vnoremap K :m '<-2<CR>gv=gv<CR>

inoremap , ,
inoremap . .
inoremap ! !
inoremap ? ?
